<template name="define">
    <div style="width:45%;float:left;text-align:center;">
        <div class="collection">
            <a href="" class="collection-item active grey darken-3">Add new sample</a>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="text" type="text">
                <label for="text" style="color:#80cbc4">Text Base</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="qs" type="text">
                <label for="qs" style="color:#80cbc4">Qs</label>
            </div>
            <div class="input-field col s6">
                <input id="ans" type="text">
                <label for="ans" style="color:#80cbc4">Ans</label>
            </div>
        </div>
        <div style="text-align:center;">
            <button class="btn waves-effect waves-light grey darken-3" id="submitDefine">Submit
            </button>
        </div>
    </div>
    <div style="width:50%;float:right;text-align:center;">
        <div class="collection">
            <a href="" class="collection-item active grey darken-3">Browse existing samples</a>
        </div>
        <div style="overflow:scroll;height:500px">
            <table class="highlight">
                <thead>
                    <tr>
                        <th data-field="id">Qs</th>
                        <th data-field="name">Text</th>
                        <th data-field="price">Ans</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each getSamples}}
                        <tr>
                            <td>{{qs}}</td>
                            <td>{{text}}</td>
                            <td>{{ans}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <!-- <script type="text/javascript">
    $(document).ready(function() {
        $('.collapsible').collapsible({
            accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
    });
    </script> -->
</template>
