<template name="generate">
    <div style="width:45%;float:left;margin-right:20px">
        <!-- <div style="float:left;max-width:22.5%;margin-left:10px"> -->
        <!-- <form> -->
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">input</i>Select PDF</div>
                <div class="collapsible-body">
                    <div class="row">
                        {{>upload_bootstrap}}
                    </div>
                    <form>
                        <div style="margin:20px">
                            <input class="selectPdf" name="selectPdf" type="radio" id="custom" />
                            <label for="custom">Custom</label>
                            {{#each getpdf}}
                                <br>
                                <input class="selectPdf" name="selectPdf" type="radio" id="{{name}}" />
                                <label for="{{name}}">{{name}}</label>
                                <!-- </p> -->
                            {{/each}}
                        </div>
                    </form>
                </div>
            </li>
        </ul>
        <div class="file-field input-field">
            <div id="addVocab" class="btn waves-effect waves-light grey darken-3" style="margin-right:5px">
                <span>ADD</span>
            </div>
            <input id="vocabType" type="text" style="width:60%">
            <label for="vocabType" style="margin-left:90px">Add Vocab Category</label>
        </div>
        <!-- </form> -->
        <div class="row" style="text-align:center">
            <div class="input-field">
            </div>
        </div>
        <div style="height:500px;overflow:scroll">
            {{#each vocabType}}
                <div style="float:left;min-width:250px;max-width:22.5%;margin-left:10px">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text" style="height:180px;overflow:scroll">
                            <span class="card-title">{{type}}: </span>
                            {{#each typeWords}}
                                <span>{{this}}</span>
                            {{/each}}
                            <div class="input-field" style="margin:10px">
                                <input id="{{type}}" class="newWord" type="text">
                                <label for="{{type}}">Add new word</label>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div style="width:50%;float:left;">
        <!-- <div style="float:left;max-width:22.5%;margin-left:10px"> -->
        <div class="row" style="text-align:center">
            <div class="collection" style="text-align:center">
                <div>
                    <a class="collection-item active grey darken-3">Browse existing generated content</a>
                </div>
                <select class="browser-default selectSample" id="selectGenerateRule">
                    <option value="" disabled selected>Choose your sample to generate from entities
                    </option>
                    {{#each getSamples}}
                        <option id="{{_id}}" value="1">{{qs}}
                        </option>
                    {{/each}}
                </select>
            </div>
            <div style="float:right;cursor:pointer" id="updateSimilar">
                <i class="material-icons">replay</i>
            </div>
            <!-- <div style="float:right">
                <button class="btn waves-effect waves-light grey darken-3" id="updateSimilar">Update
                </button>
            </div> -->
            <div style="overflow:scroll;height:500px">
                <table class="highlight">
                    <thead>
                        <tr>
                            <th data-field="id">Qs</th>
                            <th data-field="name">Text</th>
                            <th data-field="price">Ans</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each getSimilar}}
                            <tr>
                                <td>{{qs}}</td>
                                <td>{{text}}</td>
                                <td>{{ans}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.collapsible').collapsible({
            accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
    });
    </script>
</template>
