<template name="induct">
    <div style="width:45%;float:left;">
        <div class="collection" style="text-align:center">
            <a href="" class="collection-item active grey darken-3">Add new pdf to base</a>
        </div>
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">input</i>Select PDF</div>
                <div class="collapsible-body">
                    <form>
                        <div style="margin:20px">
                            {{#each getPdf}}
                                <br>
                                <input class="selectPdf" name="selectPdf" type="radio" id="{{_id}}" />
                                <label for="{{_id}}">{{text}}</label>
                                <!-- </p> -->
                            {{/each}}
                        </div>
                    </form>
                </div>
            </li>
        </ul>
        <div class="collection" style="text-align:center">
            <a href="" class="collection-item active grey darken-3">Add new text to base</a>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="baseName" type="text">
                <label for="baseName" style="color:#80cbc4">Base Name</label>
            </div>
            <div class="input-field col s12">
                <input id="baseText" type="text">
                <label for="baseText" style="color:#80cbc4">Base Text</label>
            </div>
        </div>
        <div style="text-align:center;">
            <button class="btn waves-effect waves-light grey darken-3" id="submitBase">Submit
            </button>
        </div>
    </div>
    <div style="width:50%;float:right;text-align:center;">
        <div class="collection">
            <a href="" class="collection-item active grey darken-3">Browse existing base samples</a>
        </div>
        <select class="browser-default selectSample" id="selectInductRule">
            <option value="" selected>Choose your sample to generate from base
            </option>
            {{#each getInducted}}
                <option id="{{_id}}" value="1">{{text}}
                </option>
            {{/each}}
        </select>
        <div style="float:right;cursor:pointer" id="updateInduct">
            <i class="material-icons">replay</i>
        </div>
        <div style="overflow:scroll;height:500px">
            <table class="highlight">
                <thead>
                    <tr>
                        <th data-field="id">Qs</th>
                        <th data-field="name">Text</th>
                        <th data-field="price">Ans</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each getSim}}
                        <tr>
                            <td>{{qs}}</td>
                            <td>{{text}}</td>
                            <td>{{ans}} - {{score}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.collapsible').collapsible({
            accordion: false 
        });
    });
    </script>
</template>
