<head>
    <title>simple</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
</body>
<template name="home">
</template>
<template name="layout">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper   teal darken-4">
                <!-- <div class="container"> -->
                <a href="/home" class="brand-logo" style="margin-left:20px">Simple</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/define">define</a></li>
                    <!-- <li><a href="/generate">generate</a></li> -->
                    <li><a href="/induct">induct</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div style="margin:20px">
        {{>yield}}
    </div>
</template>
